In [1]:
import pandas as pd
tickers = ['AAXJ', 'ACWX', 'BIZD', 'CRBN', 'DEW']
paths = {'AAXJ':'aaxj.csv', 'ACWX':'acwx.csv', 'BIZD':'bizd.csv', 'CRBN':'crbn.csv', 'DEW':'dew.csv'}
dfs = []
for ticker in tickers:
    df = pd.read_csv(paths[ticker])
    df["Ticker"] = ticker
    dfs.append(df)
data = pd.concat(dfs)
data

            Date    Open     High      Low    Close  Volume  OpenInt Ticker
0     2008-08-15  44.886  44.8860  44.8860  44.8860     112        0   AAXJ
1     2008-08-18  44.564  44.5640  43.8750  43.8750   28497        0   AAXJ
2     2008-08-19  43.283  43.2830  43.2830  43.2830     112        0   AAXJ
3     2008-08-20  43.918  43.9180  43.8920  43.8920    4468        0   AAXJ
4     2008-08-22  44.097  44.0970  44.0170  44.0710    4006        0   AAXJ
...          ...     ...      ...      ...      ...     ...      ...    ...
2852  2017-11-06  47.160  47.2000  47.1580  47.1827    1848        0    DEW
2853  2017-11-07  47.190  47.2200  47.1200  47.1539    8123        0    DEW
2854  2017-11-08  47.130  47.3450  47.1300  47.3450    5664        0    DEW
2855  2017-11-09  47.098  47.2680  47.0180  47.2680    6673        0    DEW
2856  2017-11-10  47.220  47.2309  47.0833  47.1810   34771        0    DEW

[9508 rows x 8 columns]

In [2]:
print(data.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt', 'Ticker'], dtype='object')

In [3]:
#multiindexed
print(data.index)

Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
       ...
       2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856],
      dtype='int64', length=9508)

In [4]:
#no missing values
data.isnull().sum()

Date       0
Open       0
High       0
Low        0
Close      0
Volume     0
OpenInt    0
Ticker     0
dtype: int64

In [5]:
#datetime format
data_reset_multiindex = data.reset_index()
data_reset_multiindex['Date'] = pd.to_datetime(data_reset_multiindex['Date'])
data = data_reset_multiindex.set_index(['Ticker', 'Date'])

In [6]:
#sorting data
data = data.sort_index(level = ['Ticker', 'Date'])
data

                   index    Open     High      Low    Close  Volume  OpenInt
Ticker Date
AAXJ   2008-08-15      0  44.886  44.8860  44.8860  44.8860     112        0
       2008-08-18      1  44.564  44.5640  43.8750  43.8750   28497        0
       2008-08-19      2  43.283  43.2830  43.2830  43.2830     112        0
       2008-08-20      3  43.918  43.9180  43.8920  43.8920    4468        0
       2008-08-22      4  44.097  44.0970  44.0170  44.0710    4006        0
...                  ...     ...      ...      ...      ...     ...      ...
DEW    2017-11-06   2852  47.160  47.2000  47.1580  47.1827    1848        0
       2017-11-07   2853  47.190  47.2200  47.1200  47.1539    8123        0
       2017-11-08   2854  47.130  47.3450  47.1300  47.3450    5664        0
       2017-11-09   2855  47.098  47.2680  47.0180  47.2680    6673        0
       2017-11-10   2856  47.220  47.2309  47.0833  47.1810   34771        0

[9508 rows x 7 columns]

In [7]:
data.index.get_level_values('Date')

DatetimeIndex(['2008-08-15', '2008-08-18', '2008-08-19', '2008-08-20',
               '2008-08-22', '2008-08-25', '2008-08-26', '2008-08-27',
               '2008-08-28', '2008-08-29',
               ...
               '2017-10-30', '2017-10-31', '2017-11-01', '2017-11-02',
               '2017-11-03', '2017-11-06', '2017-11-07', '2017-11-08',
               '2017-11-09', '2017-11-10'],
              dtype='datetime64[ns]', name='Date', length=9508, freq=None)

In [8]:
#filtering last 10 years of data
reset_multiindex = data.reset_index()
fil_data = reset_multiindex.loc[(reset_multiindex['Date'] >= '2007-11-09') & (reset_multiindex['Date'] <= '2017-11-09')]
fil_data = fil_data.set_index(['Ticker', 'Date'])
fil_data

                   index    Open    High      Low    Close  Volume  OpenInt
Ticker Date
AAXJ   2008-08-15      0  44.886  44.886  44.8860  44.8860     112        0
       2008-08-18      1  44.564  44.564  43.8750  43.8750   28497        0
       2008-08-19      2  43.283  43.283  43.2830  43.2830     112        0
       2008-08-20      3  43.918  43.918  43.8920  43.8920    4468        0
       2008-08-22      4  44.097  44.097  44.0170  44.0710    4006        0
...                  ...     ...     ...      ...      ...     ...      ...
DEW    2017-11-03   2851  47.070  47.190  47.0001  47.1400    4207        0
       2017-11-06   2852  47.160  47.200  47.1580  47.1827    1848        0
       2017-11-07   2853  47.190  47.220  47.1200  47.1539    8123        0
       2017-11-08   2854  47.130  47.345  47.1300  47.3450    5664        0
       2017-11-09   2855  47.098  47.268  47.0180  47.2680    6673        0

[9156 rows x 7 columns]

In [9]:
#adding the daily return column
fil_data['Daily Return'] = fil_data.groupby('Ticker')['Close'].pct_change()
fil_data

                   index    Open    High      Low    Close  Volume  OpenInt  \
Ticker Date
AAXJ   2008-08-15      0  44.886  44.886  44.8860  44.8860     112        0
       2008-08-18      1  44.564  44.564  43.8750  43.8750   28497        0
       2008-08-19      2  43.283  43.283  43.2830  43.2830     112        0
       2008-08-20      3  43.918  43.918  43.8920  43.8920    4468        0
       2008-08-22      4  44.097  44.097  44.0170  44.0710    4006        0
...                  ...     ...     ...      ...      ...     ...      ...
DEW    2017-11-03   2851  47.070  47.190  47.0001  47.1400    4207        0
       2017-11-06   2852  47.160  47.200  47.1580  47.1827    1848        0
       2017-11-07   2853  47.190  47.220  47.1200  47.1539    8123        0
       2017-11-08   2854  47.130  47.345  47.1300  47.3450    5664        0
       2017-11-09   2855  47.098  47.268  47.0180  47.2680    6673        0

                   Daily Return
Ticker Date
AAXJ   2008-08-15           NaN
       2008-08-18     -0.022524
       2008-08-19     -0.013493
       2008-08-20      0.014070
       2008-08-22      0.004078
...                         ...
DEW    2017-11-03     -0.001569
       2017-11-06      0.000906
       2017-11-07     -0.000610
       2017-11-08      0.004053
       2017-11-09     -0.001626

[9156 rows x 8 columns]

In [10]:
fil_data['7-day SMA'] = fil_data.groupby('Ticker')['Close'].transform(lambda x: x.rolling(window=7).mean())
fil_data['30-day SMA'] = fil_data.groupby('Ticker')['Close'].transform(lambda x: x.rolling(window=30).mean())
fil_data['Rolling Volatility (30d)'] = fil_data.groupby('Ticker')['Daily Return'].transform(lambda x: x.rolling(window=30).std())
fil_data

                   index    Open    High      Low    Close  Volume  OpenInt  \
Ticker Date
AAXJ   2008-08-15      0  44.886  44.886  44.8860  44.8860     112        0
       2008-08-18      1  44.564  44.564  43.8750  43.8750   28497        0
       2008-08-19      2  43.283  43.283  43.2830  43.2830     112        0
       2008-08-20      3  43.918  43.918  43.8920  43.8920    4468        0
       2008-08-22      4  44.097  44.097  44.0170  44.0710    4006        0
...                  ...     ...     ...      ...      ...     ...      ...
DEW    2017-11-03   2851  47.070  47.190  47.0001  47.1400    4207        0
       2017-11-06   2852  47.160  47.200  47.1580  47.1827    1848        0
       2017-11-07   2853  47.190  47.220  47.1200  47.1539    8123        0
       2017-11-08   2854  47.130  47.345  47.1300  47.3450    5664        0
       2017-11-09   2855  47.098  47.268  47.0180  47.2680    6673        0

                   Daily Return  7-day SMA  30-day SMA  \
Ticker Date
AAXJ   2008-08-15           NaN        NaN         NaN
       2008-08-18     -0.022524        NaN         NaN
       2008-08-19     -0.013493        NaN         NaN
       2008-08-20      0.014070        NaN         NaN
       2008-08-22      0.004078        NaN         NaN
...                         ...        ...         ...
DEW    2017-11-03     -0.001569  47.054871   47.262437
       2017-11-06      0.000906  47.075257   47.268393
       2017-11-07     -0.000610  47.094386   47.276447
       2017-11-08      0.004053  47.152243   47.291280
       2017-11-09     -0.001626  47.209100   47.300383

                   Rolling Volatility (30d)
Ticker Date
AAXJ   2008-08-15                       NaN
       2008-08-18                       NaN
       2008-08-19                       NaN
       2008-08-20                       NaN
       2008-08-22                       NaN
...                                     ...
DEW    2017-11-03                  0.002879
       2017-11-06                  0.002880
       2017-11-07                  0.002856
       2017-11-08                  0.002941
       2017-11-09                  0.002944

[9156 rows x 11 columns]

In [11]:
#finding the stock with highest avg returns over the last 10 years
avg_returns = fil_data.groupby('Ticker')['Daily Return'].mean()
max_returns_stock = avg_returns.idxmax()
print(f"{max_returns_stock} had the highest avg return over the last 10 years")

CRBN had the highest avg return over the last 10 years

In [12]:
#highest volatility
monthly_vol = (fil_data.groupby([fil_data.index.get_level_values('Ticker'), fil_data.index.get_level_values('Date').to_period('M')])['Daily Return'].std())
most_volatile = monthly_vol.idxmax()
print(f"Volatility was highest for {most_volatile}")

Volatility was highest for ('AAXJ', Period('2008-10', 'M'))

In [13]:
aaxj_data = fil_data.loc['AAXJ']
aaxj_data

,index,Open,High,Low,Close,Volume,OpenInt,Daily Return,7-day SMA,30-day SMA,Rolling Volatility (30d)
Date,,,,,,,,,,,
2008-08-15,0,44.886,44.886,44.886,44.886,112,0,NaN,NaN,NaN,NaN
2008-08-18,1,44.564,44.564,43.875,43.875,28497,0,-0.022524,NaN,NaN,NaN
2008-08-19,2,43.283,43.283,43.283,43.283,112,0,-0.013493,NaN,NaN,NaN
2008-08-20,3,43.918,43.918,43.892,43.892,4468,0,0.014070,NaN,NaN,NaN
2008-08-22,4,44.097,44.097,44.017,44.071,4006,0,0.004078,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2017-11-03,2319,76.240,76.240,75.590,75.900,691479,0,-0.003152,75.290000,74.103133,0.007147
2017-11-06,2320,75.900,76.530,75.890,76.530,1313730,0,0.008300,75.640000,74.267800,0.006219
2017-11-07,2321,76.490,76.580,76.090,76.185,1627277,0,-0.004508,75.802143,74.421633,0.006325
2017-11-08,2322,76.370,76.590,76.290,76.570,681128,0,0.005053,76.085000,74.589967,0.006325
2017-11-09,2323,76.040,76.200,75.580,76.110,1261567,0,-0.006008,76.199286,74.745633,0.006477

In [14]:
aaxj_data.columns

Index(['index', 'Open', 'High', 'Low', 'Close', 'Volume', 'OpenInt',
       'Daily Return', '7-day SMA', '30-day SMA', 'Rolling Volatility (30d)'],
      dtype='object')

In [15]:
aaxj_data_rf = aaxj_data.copy()

In [16]:
#adding rsi
delta = aaxj_data_rf['Close'].diff()
gain = delta.apply(lambda x: x if x>0 else 0)
loss = delta.apply(lambda x: -x if x<0 else 0)
avg_gain = gain.rolling(window = 14).mean()
avg_loss = loss.rolling(window = 14).mean()
rs = avg_gain/avg_loss
rsi = 100 - (100/(1+rs))

In [17]:
aaxj_data_rf['RSI'] = rsi

In [18]:
#MACD
ema_26 = aaxj_data_rf['Close'].transform(lambda x: x.ewm(span=26).mean())
ema_12 = aaxj_data_rf['Close'].transform(lambda x: x.ewm(span=12).mean())
macd = ema_12 - ema_26
aaxj_data_rf['MACD'] = macd
aaxj_data_rf['MACD_signal_line'] = macd.ewm(span=9).mean()
aaxj_data_rf['MACD_Histogram'] = aaxj_data_rf['MACD'] - aaxj_data_rf['MACD_signal_line']
aaxj_data_rf['MACD_crossover'] = (aaxj_data_rf['MACD'] > aaxj_data_rf['MACD_signal_line']).astype(int)
aaxj_data_rf.head(40)

,index,Open,High,Low,Close,Volume,OpenInt,Daily Return,7-day SMA,30-day SMA,Rolling Volatility (30d),RSI,MACD,MACD_signal_line,MACD_Histogram,MACD_crossover
Date,,,,,,,,,,,,,,,,
2008-08-15,0,44.886,44.886,44.886,44.886,112,0,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0
2008-08-18,1,44.564,44.564,43.875,43.875,28497,0,-0.022524,NaN,NaN,NaN,NaN,-0.022683,-0.012601,-0.010081,0
2008-08-19,2,43.283,43.283,43.283,43.283,112,0,-0.013493,NaN,NaN,NaN,NaN,-0.047260,-0.026806,-0.020454,0
2008-08-20,3,43.918,43.918,43.892,43.892,4468,0,0.014070,NaN,NaN,NaN,NaN,-0.035293,-0.029681,-0.005612,0
2008-08-22,4,44.097,44.097,44.017,44.071,4006,0,0.004078,NaN,NaN,NaN,NaN,-0.020924,-0.027076,0.006152,1
2008-08-25,5,44.044,44.044,43.248,43.248,18975,0,-0.018674,NaN,NaN,NaN,NaN,-0.047085,-0.032499,-0.014585,0
2008-08-26,6,43.802,43.802,43.471,43.660,5507,0,0.009526,43.845000,NaN,NaN,NaN,-0.044387,-0.035508,-0.008879,0
2008-08-27,7,44.564,44.564,44.457,44.457,1675,0,0.018255,43.783714,NaN,NaN,NaN,-0.003959,-0.027926,0.023967,1
2008-08-28,8,44.421,44.475,44.421,44.475,6687,0,0.000405,43.869429,NaN,NaN,NaN,0.024990,-0.015702,0.040692,1
2008-08-29,9,44.224,44.224,44.171,44.171,446,0,-0.006835,43.996286,NaN,NaN,NaN,0.029503,-0.005573,0.035077,1
2008-09-02,10,43.875,43.875,43.875,43.875,112,0,-0.006701,43.993857,NaN,NaN,NaN,0.016581,-0.000726,0.017307,1
2008-09-03,11,42.281,42.396,42.173,42.235,4287,0,-0.037379,43.731571,NaN,NaN,NaN,-0.083205,-0.018439,-0.064766,0
2008-09-04,12,41.825,41.825,41.098,41.153,2861,0,-0.025619,43.432286,NaN,NaN,NaN,-0.217226,-0.060509,-0.156716,0
2008-09-05,13,40.497,41.188,40.364,41.188,6811,0,0.000850,43.079143,NaN,NaN,26.288792,-0.312692,-0.113266,-0.199426,0
2008-09-08,14,42.180,42.290,41.752,42.290,4244,0,0.026755,42.769571,NaN,NaN,35.415730,-0.315304,-0.155147,-0.160157,0
2008-09-09,15,41.967,41.967,41.080,41.080,12718,0,-0.028612,42.284571,NaN,NaN,34.641169,-0.386709,-0.202801,-0.183908,0
2008-09-11,16,39.541,39.979,39.380,39.800,3627,0,-0.031159,41.660143,NaN,NaN,32.205988,-0.515578,-0.266797,-0.248781,0
2008-09-12,17,39.496,39.505,39.210,39.210,1694,0,-0.014824,40.993714,NaN,NaN,26.033989,-0.645142,-0.343854,-0.301287,0
2008-09-15,18,38.771,38.771,37.919,37.992,6842,0,-0.031064,40.387571,NaN,NaN,21.874711,-0.814998,-0.439461,-0.375537,0
2008-09-16,19,37.571,37.606,36.712,37.231,4152,0,-0.020031,39.827286,NaN,NaN,22.000931,-0.985686,-0.549980,-0.435705,0
2008-09-17,20,37.122,37.122,36.039,36.039,1900,0,-0.032016,39.091714,NaN,NaN,16.937093,-1.184611,-0.678088,-0.506523,0
2008-09-18,21,37.080,38.644,36.729,38.627,4936,0,0.071811,38.568429,NaN,NaN,28.109042,-1.150913,-0.773356,-0.377557,0
2008-09-19,22,39.855,41.395,39.855,41.359,4090,0,0.070728,38.608286,NaN,NaN,40.280724,-0.925528,-0.803971,-0.121557,0
2008-09-22,23,41.072,41.072,40.033,40.311,4264,0,-0.025339,38.681286,NaN,NaN,38.494098,-0.811598,-0.805504,-0.006095,0
2008-09-23,24,38.877,39.307,38.877,38.886,7734,0,-0.035350,38.635000,NaN,NaN,36.066581,-0.812505,-0.806909,-0.005596,0
2008-09-24,25,38.707,38.859,38.699,38.717,12843,0,-0.004346,38.738571,NaN,NaN,39.295278,-0.815556,-0.808644,-0.006912,0
2008-09-25,26,39.236,40.158,39.236,40.158,12531,0,0.037219,39.156714,NaN,NaN,47.037103,-0.706262,-0.788118,0.081856,1
2008-09-26,27,38.817,39.103,38.467,38.896,4021,0,-0.031426,39.564857,NaN,NaN,43.639694,-0.703049,-0.771071,0.068022,1
2008-09-29,28,36.800,36.872,35.458,35.458,7706,0,-0.088390,39.112143,NaN,NaN,33.217058,-0.940200,-0.804949,-0.135251,0
2008-09-30,29,36.615,37.070,36.615,37.070,29167,0,0.045462,38.499429,41.053100,NaN,40.340143,-0.997343,-0.843476,-0.153867,0
2008-10-01,30,36.721,39.925,36.721,37.909,82231,0,0.022633,38.156286,40.820533,0.033735,45.345804,-0.969056,-0.868617,-0.100439,0
2008-10-02,31,36.765,36.792,36.444,36.444,21779,0,-0.038645,37.807429,40.572833,0.034149,43.473336,-1.043583,-0.903638,-0.139945,0
2008-10-03,32,36.371,36.381,35.968,35.968,3350,0,-0.013061,37.414714,40.329000,0.034145,45.050861,-1.125027,-0.947943,-0.177083,0
2008-10-06,33,34.544,34.544,32.664,33.148,1199,0,-0.078403,36.413286,39.970867,0.036408,40.929489,-1.385706,-1.035540,-0.350165,0
2008-10-07,34,33.623,33.623,31.966,31.966,5528,0,-0.035658,35.423286,39.567367,0.036650,40.947682,-1.662064,-1.160896,-0.501168,0
2008-10-08,35,32.683,32.683,30.453,32.029,44059,0,0.001971,34.933429,39.193400,0.036676,33.481875,-1.854363,-1.299634,-0.554729,0
2008-10-09,36,31.463,31.572,29.171,29.171,3016,0,-0.089232,33.805000,38.710433,0.039267,19.678575,-2.199348,-1.479624,-0.719724,0
2008-10-10,37,28.975,29.386,27.194,29.146,8442,0,-0.000857,32.553143,38.200067,0.038903,20.733945,-2.445914,-1.672922,-0.772992,0
2008-10-13,38,30.470,34.026,30.470,34.026,15344,0,0.167433,32.207714,37.851767,0.050995,39.214381,-2.239294,-1.786215,-0.453079,0
2008-10-14,39,35.528,35.528,32.002,33.514,10962,0,-0.015047,31.857143,37.496533,0.051013,38.626328,-2.090979,-1.847176,-0.243802,0

In [19]:
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns
# import warnings

# %matplotlib inline
# warnings.filterwarnings('ignore')
# sns.set_style("darkgrid")

# import statsmodels.api as sm
# import sklearn
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression
# from sklearn.preprocessing import MinMaxScaler

# X = aaxj_data[['index', 'Open', 'High', 'Low', 'Volume', 'OpenInt',
#        'Daily Return', '7-day SMA', '30-day SMA', 'Rolling Volatility (30d)']]
# y = aaxj_data['Close']
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 30, test_size = 0.2)

In [20]:
aaxj_data_rf['Target'] = aaxj_data_rf['Close'].shift(-1)

In [21]:
aaxj_data_rf.dropna(inplace=True)

In [22]:
features = ['Volume','Daily Return', '7-day SMA', '30-day SMA', 'Rolling Volatility (30d)', 'RSI', 'MACD', 'MACD_signal_line', 
            'MACD_Histogram', 'MACD_crossover']

In [23]:
from sklearn.model_selection import train_test_split
X = aaxj_data_rf[features]
y = aaxj_data_rf['Target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle=False)

In [24]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 5)

In [25]:
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [26]:
rf.score(X_test, y_test)

0.7751305106143223

In [27]:
results = pd.DataFrame({
    'Actual': y_test.values,
    'Predicted': y_pred
})

print(results.head(10))

   Actual  Predicted
0  47.230   45.29935
1  46.037   45.84607
2  46.291   45.28512
3  47.553   45.43744
4  46.946   45.81389
5  47.416   45.71548
6  46.966   46.04341
7  47.319   46.35536
8  48.668   47.37649
9  48.228   47.58428

In [28]:
# features = pd.DataFrame(rf.feature_importances_, index = X.columns)
# features

In [29]:
aaxj_data_lr = aaxj_data.copy()

In [30]:
#5 day closing prices for linear regression model
for day in range(1, 6):
    aaxj_data_lr[f'day_{day}'] = aaxj_data_lr['Close'].shift(day)
aaxj_data_lr['Target'] = aaxj_data['Close'].shift(-1)
aaxj_data_lr.dropna(inplace = True)

In [31]:
aaxj_data_lr.head(10)

,index,Open,High,Low,Close,Volume,OpenInt,Daily Return,7-day SMA,30-day SMA,Rolling Volatility (30d),day_1,day_2,day_3,day_4,day_5,Target
Date,,,,,,,,,,,,,,,,,
2008-10-01,30,36.721,39.925,36.721,37.909,82231,0,0.022633,38.156286,40.820533,0.033735,37.070,35.458,38.896,40.158,38.717,36.444
2008-10-02,31,36.765,36.792,36.444,36.444,21779,0,-0.038645,37.807429,40.572833,0.034149,37.909,37.070,35.458,38.896,40.158,35.968
2008-10-03,32,36.371,36.381,35.968,35.968,3350,0,-0.013061,37.414714,40.329000,0.034145,36.444,37.909,37.070,35.458,38.896,33.148
2008-10-06,33,34.544,34.544,32.664,33.148,1199,0,-0.078403,36.413286,39.970867,0.036408,35.968,36.444,37.909,37.070,35.458,31.966
2008-10-07,34,33.623,33.623,31.966,31.966,5528,0,-0.035658,35.423286,39.567367,0.036650,33.148,35.968,36.444,37.909,37.070,32.029
2008-10-08,35,32.683,32.683,30.453,32.029,44059,0,0.001971,34.933429,39.193400,0.036676,31.966,33.148,35.968,36.444,37.909,29.171
2008-10-09,36,31.463,31.572,29.171,29.171,3016,0,-0.089232,33.805000,38.710433,0.039267,32.029,31.966,33.148,35.968,36.444,29.146
2008-10-10,37,28.975,29.386,27.194,29.146,8442,0,-0.000857,32.553143,38.200067,0.038903,29.171,32.029,31.966,33.148,35.968,34.026
2008-10-13,38,30.470,34.026,30.470,34.026,15344,0,0.167433,32.207714,37.851767,0.050995,29.146,29.171,32.029,31.966,33.148,33.514
2008-10-14,39,35.528,35.528,32.002,33.514,10962,0,-0.015047,31.857143,37.496533,0.051013,34.026,29.146,29.171,32.029,31.966,29.646

In [32]:
X_lr = aaxj_data_lr[['day_1', 'day_2', 'day_3', 'day_4', 'day_5']]
y_lr = aaxj_data_lr['Target']
X_lr_train, X_lr_test, y_lr_train, y_lr_test = train_test_split(X, y, test_size = 0.2, shuffle = False)

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_lr_train_scaled = scaler.fit_transform(X_lr_train)
X_lr_test_scaled = scaler.transform(X_lr_test)
lr = LinearRegression()
lr.fit(X_lr_train_scaled, y_lr_train)
y_lr_pred = lr.predict(X_lr_test_scaled)

In [34]:
results_lr = pd.DataFrame({
    'Actual': y_lr_test.values,
    'Predicted': y_lr_pred
})
results_lr.head(10)

   Actual  Predicted
0  47.230  46.057687
1  46.037  47.108837
2  46.291  45.723816
3  47.553  46.182800
4  46.946  47.057075
5  47.416  46.416173
6  46.966  47.204450
7  47.319  47.036068
8  48.668  47.585613
9  48.228  48.690988

In [35]:
lr.score(X_lr_test_scaled, y_lr_test)

0.993281552370656

In [36]:
#mae of both models
from sklearn.metrics import mean_absolute_error
mae_rf = mean_absolute_error(y_test, y_pred)
print("Random Forest mae: ", mae_rf)
mae_lr = mean_absolute_error(y_lr_test, y_lr_pred)
print("Linear Regression mae: ", mae_lr)

Random Forest mae:  2.1815951851851882
Linear Regression mae:  0.5012372110279757

In [37]:
#predicting directions
#Random forests
import numpy as np

# For Random Forest
actual_direction_rf = (y_test.to_numpy()[1:] > y_test.to_numpy()[:-1]).astype(int)
predicted_direction_rf = (y_pred[1:] > y_pred[:-1]).astype(int)  # y_pred is already a NumPy array
direction_accuracy_rf = np.mean(actual_direction_rf == predicted_direction_rf)
print("Direction Accuracy for Random Forests:", direction_accuracy_rf)

# For Linear Regression
actual_direction_lr = (y_lr_test.to_numpy()[1:] > y_lr_test.to_numpy()[:-1]).astype(int)
predicted_direction_lr = (y_lr_pred[1:] > y_lr_pred[:-1]).astype(int)  # y_lr_pred is also a NumPy array
direction_accuracy_lr = np.mean(actual_direction_lr == predicted_direction_lr)
print("Direction Accuracy for Linear Regression:", direction_accuracy_lr)

Direction Accuracy for Random Forests: 0.5414847161572053
Direction Accuracy for Linear Regression: 0.5240174672489083

In [38]:
#Model Comparision
#Linear Regression works better than random forests in terms of MAE 
#But direction is better predicted my Random Forest model

In [39]:
!pip install backtesting

Requirement already satisfied: backtesting in /opt/anaconda3/lib/python3.12/site-packages (0.6.4)
Requirement already satisfied: numpy>=1.17.0 in /opt/anaconda3/lib/python3.12/site-packages (from backtesting) (1.26.4)
Requirement already satisfied: pandas!=0.25.0,>=0.25.0 in /opt/anaconda3/lib/python3.12/site-packages (from backtesting) (2.2.2)
Requirement already satisfied: bokeh!=3.0.*,!=3.2.*,>=1.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from backtesting) (3.6.0)
Requirement already satisfied: Jinja2>=2.9 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (3.1.4)
Requirement already satisfied: contourpy>=1.2 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (1.2.0)
Requirement already satisfied: packaging>=16.8 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (24.1)
Requirement already satisfied: pillow>=7.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (10.4.0)
Requirement already satisfied: PyYAML>=3.10 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (6.0.1)
Requirement already satisfied: tornado>=6.2 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (6.4.1)
Requirement already satisfied: xyzservices>=2021.09.1 in /opt/anaconda3/lib/python3.12/site-packages (from bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (2022.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=0.25.0,>=0.25.0->backtesting) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=0.25.0,>=0.25.0->backtesting) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas!=0.25.0,>=0.25.0->backtesting) (2023.3)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from Jinja2>=2.9->bokeh!=3.0.*,!=3.2.*,>=1.4.0->backtesting) (2.1.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas!=0.25.0,>=0.25.0->backtesting) (1.16.0)

In [41]:
test_index_lr = y_lr_test.index
aaxj_data_lr_test = aaxj_data_lr.loc[test_index_lr]
aaxj_data_lr_test['Pred lr'] = y_lr_pred

In [43]:
test_index_rf = y_test.index
aaxj_data_rf_test = aaxj_data_rf.loc[test_index_rf]
aaxj_data_rf_test['Pred rf'] = y_pred

In [ ]:
aaxj_data_lr_test.columns